@{
    ViewData["Title"] = "Home Page";
}

@model Battleships.Services.BattleshipGameManager

<div class="text-center">
    <h1 class="display-4">BATTLESHIPS</h1>
</div>

<style>
    .battleship-board {
        border-spacing: 0;
        border-collapse: collapse;
    }

    .battleship-board th {
        padding: .5em;
    }

    .battleship-board td {
        border: 3px solid;
        width: 2em;
        height: 2em;
    }

    .field{
        background: #eee;
    }

    .battleship-field {
        background: #ff0000
    }




   
</style>

<div style="display:flex; margin-left:auto; margin-right:auto">
    <div style="display:flex; flex-direction:column; padding:4em">
        <p style="text-align:center">BOT 1</p>
        <table class="battleship-board">
            @{List<char> characters = new List<char>() { ' ', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J' };
            }
            <tbody>
                <tr>
                    @for (int i = 0; i <= 10; i++)
                    {
                        <th>@characters.ElementAt(i)</th>
                    }
                </tr>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <th>@(i + 1)</th>
                        @for (int j = 0; j < 10; j++)
                        {
                            if (Model.Board1.occupiedFields.Contains(new Battleships.Services.Coordinates(i, j)))
                            {
                                <td class="battleship-field"></td>
                            }
                            else
                            {
                                <td class="field"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="display:flex; flex-direction:column; padding:4em">
        <p style="text-align:center">BOT 2</p>
        <table class="battleship-board">
            <tbody>
                <tr>
                    @for (int i = 0; i <= 10; i++)
                    {
                        <th>@characters.ElementAt(i)</th>
                    }
                </tr>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <th>@(i + 1)</th>
                        @for (int j = 0; j < 10; j++)
                        {
                            if (Model.Board2.occupiedFields.Contains(new Battleships.Services.Coordinates(i, j)))
                            {
                                <td class="battleship-field"></td>
                            }
                            else
                            {
                                <td class="field"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
